# dependias de js
node_modules/
.wwebjs_auth/
.wwebjs_cache/
lib/
lib64/
bin/
share/
*.cfg
package-lock.json
package.json
Py/domain/__pycache__/comand.cpython-39.pyc
Py/ports/__pycache__/
Py/ports/dashboard/
lib64