/app

# dependias de js
node_modules/
.wwebjs_auth/
.wwebjs_cache/
logs.txt
*.json

js/

Kimera/
py/Apis.py

lite/

# entornode de python
py/bin/
py/include/  
py/lib/  
py/lib64/  
pyvenv.cfg  

py/utils/__pycache__
py/syncro/__pycache__
py/apis/__pycache__/
py/utils/__pycache__/
py/utils/syncro/__pycache__/
py/__pycache__/

py/lib64
py/pdf/
py/test.py
py/tmp/
py/share/
suscriptores.json

py/utils/syncro/syncro_tunneo.py

*.pdf
*.png
# *.txt